@import url(href='https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
    --green:#27ae60;
    --dark-color:#219150;
    --black:#444;
    --light-color:#666;
    --border: .1rem solid rgba(0,0,0,1);
    --boder-hover: .1rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,1);
}




*{
    font-family: Poppin, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
    transition: width none;
}
.service hr{
    font: large;
    color: green;
    
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;

}
html::-webkit-scrollbar{
    width: 1rem;
}
html::-webkit-scrollbar-track{
    background: transparent;
}
html::-webkit-scrollbar-thumb{
    background: var(--black);
}

body {
    background-color: white;
    background-size: cover;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;
}
.header .logo{
    background-color: white;
    padding-bottom: 50px;
    margin: cover;
    height: 120px;
    display: flex;
}

.header h1{
    padding-top: 1.5rem;
    padding-left: 3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: left;
    margin-top: 0.2rem;
    margin-left: 0.5rem;

}

.header .logo img{
    width: 29rem;
    height: 12rem;
    padding-bottom: .2rem;
    margin-top: 0rem;
    margin-left: .09rem;
    margin-bottom: 5rem;
    align-items: center;
}

.heading{
    text-align: center;
    margin-bottom: 2rem;
    position: relative;
}

.heading::before{
    content: '';
    position: absolute;
    top: 50%; left: 0;
    transform: translateY(-50%);
    width: auto;
    height: 0;
    background:blue;
    z-index: -1;
    border: blue;
}

.home{
    width: auto;
    height: auto;
    background-color: white;
}

.home .home-box{
    width: auto;
    height: auto;
}

.home img{
    width: auto;
    height: auto;
}

.heading span{
    font-size: 2.5rem;
    padding: 2rem 2rem;
    color: var(--green);
    background: whitesmoke;
    border-radius: 2rem;

}

.header .search-form input{
    width: 40rem;
    height: 50px;
    padding-left: 10rem;
    margin-left: 10rem;
    margin-top: 2rem;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    border: var(--border);
    border-radius: 3rem;
    background-color: whitesmoke;
    align-items: center;
    text-align: left;
    font-size: 2rem;
}

.header .search-form label{
    padding-right: 25rem;
    color: var(--green);
    font-size: 2rem;
    align-items: center;
    padding-top: 4rem;
    margin-top: 1rem;

}

.header .contacts-box{
    padding-top: 2.5rem;
    display: grid;
    font-size: 12px;
    padding-right: 0.5rem;
}

header .contacts-box a{
    text-decoration: none;
    font-size: 1.5rem;
}

.header .contacts-box a i{
    color: var(--green);
    padding-right: .5rem;
}
.menu-bar{
    background-color:rgb(112, 157, 221);
    padding-bottom: 5px;
    height: 60px;
}
.menu-bar ul{
    display: flex;
    padding-left: 30rem;
    padding-top: 0;
    list-style: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
.menu-bar ul li{
    width: 120px;
    height: 5px;
    margin: 20px;
    padding: 2px;
    align-items: right;

}
.menu-bar ul li a{
    text-decoration: none;
    color:green;
    font-size: 2rem;
    text-align: right;
    width: auto;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.menu-bar ul li a:active, 
.menu-bar ul li a:hover{
    background-color:rgb(70, 70, 197);
    border: var(--border);
    border-radius: 20rem;
    height: 20px;
}

.product {
    margin: 2rem;
}

.product .container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.product .container .box{
    margin: .5rem;
}

.product .box img{
    width: 30rem;
    height: 25rem;
    padding: 1.5rem;
    border-radius: 20px;
}

.product .container h3{
    font-size: 2rem;
    text-align: center;
    padding-left: 3rem;
    color: var(--light-color);
}

.product .container p{
    font-size: 1.5rem;
    font: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.product .container .btn{
    font-size: 2rem;
    background: #219150;
    border-radius: 2rem;
    cursor: pointer;
}

.product .container .btn a{
    text-decoration: none;
    color: orange;
}

.service {
    margin: 2rem;
}

.service .container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.service .box img{
    width: 30rem;
    height: 20rem;
    padding: 1.5rem;
    border-radius: 20px;
}

.container .box{
    width: 50rem;
    padding: 2.5rem;
    margin: 1.5rem;
    text-align: center;
}

.service .container h3{
    font-size: 2rem;
    text-align: center;
    padding-left: 3rem;
    color: var(--black);
}

.team{
    margin: 2rem;
}

.team .team-slider{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;

}

.team .team-slider .box{
    width: 50rem;
    border-radius: 2rem;
    padding: 2.5rem;
    margin: 1.5rem;
    text-align: center;
    
}

.team .team-slider h3{
    font-size: 2rem;
    text-align: center;
    padding-right: 20rem;
    color: var(--green);
}

.team .team-slider p{
    font-size: 1.5rem;
    padding-right: 15rem;
}

.team .box img{
    width: 250px;
    height: 250px;
    border-radius: 50rem;
    padding: 2rem;
    display: flex;
}

.newsletter{
    background: url(images/letter2.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-right: 5rem;
}

.newsletter form{
    max-width: 40rem;
    margin-left: auto;
    text-align: center;
    padding: 5rem 0;
    align-items: center;
}

.newsletter form h3{
    font-size: 2.2rem;
    color: rgb(41, 6, 243);
    padding-bottom: .7rem;
    font-weight: normal;
}

.newsletter form .box{
    width: 100%;
    margin: .7rem 0;
    padding: 1rem 1.2rem;
    font-size: 1.6rem;
    border-radius: .5rem;
    text-transform: none;
}

.newsletter form .btn{
    width: 30%;
    margin: .7rem 0;
    padding: 1rem 1.2rem;
    font-size: 1.6rem;
    border-radius: .5rem;
    text-transform: none;
    color: #051a04;
    background: #219150;
    cursor: pointer;
}

.footer{
    background-color: rgb(30, 37, 48);
    height: 430px;
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem,1fr));
    gap: 1.5rem;
    padding-left: 5rem;
    padding-top: 2rem;
}

.footer .box-container .box h3{
    font-size: 2rem;
    color: var(--black);
    padding: 1rem 0;
    padding-top: 2rem;
    margin-left: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.footer .box-container .box a{
    display: block;
    font-size: 1.2rem;
    color: var(--light-color);
    padding: 1rem 0;
    text-decoration: none;
    margin-left: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}

.footer .box-container .box a i{
    color: var(--green);
    padding-right: .5rem;
}

.footer .box-container .box a:hover i{
    padding-right: 2rem;
}

.footer .box-container .box{
    width: 45%;
}

.footer .share{
    padding: 1rem 0;
    text-align: center;
    padding-left: 65rem;
}

.footer .share a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: #fff;
    background: var(--green); 
    margin: 0 .3rem;
    border-radius: 50%;
    text-decoration: none;
}

.footer .share a:hover{
    background: var(--blaack);
}

.footer .credit{
    border-top: var(--border);
    margin-top: 2rem;
    margin-bottom: 2.5rem;
    padding: 0 1rem;
    padding-top: 2.5rem;
    padding-bottom: 1rem;
    font-size: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--black);
    text-align: center;
}

.footer .credit span{
    color: var(--green);
}
.loader-container{
    position: fixed;
    top: 0; left: 0;
    height: 100%;
    width: 100%;
    z-index: 10000;
    background: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader-container .active{
    display: none;
}






@media (max-width:991px){
    
    .html{
        font-size : 55%;
    }

    .header link-btn{
        display: none;
    }
}

@media (max-width:768px){

    #manu-btn{
        display: inline-block;
    }

    header .nav{
        position:absolute;
        top: 99%;

    }
}

@media (max-width:450px){
    .html{
        font-size: 50%;
    }
}